@using Insya.NetDash
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Html.Localize("Error").ToHtmlString();
}

<hgroup class="title">
    <h1 class="error">@Html.Localize("Error")</h1>
    <h2 class="error">@Html.Localize("ErrorOccurred")</h2>
</hgroup>
